In [3]:
import pandas as pd

In [23]:
# importation du jeu de données des températures de l'hémisphère Nord: northern-hemisphere-TAVG-Trend.txt
headers = ['Year', 'Month', 'Anomaly-NH', 'Uncertainty-NH']

df_North = pd.read_csv('northern-hemisphere-TAVG-Trend.txt', header = 69, sep='\s+', names = headers, index_col=False)
df_North

/var/folders/6v/p4vnlcpd4sndjb73rnq8p3xm0000gp/T/ipykernel_5297/594513426.py:3: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df_North = pd.read_csv('northern-hemisphere-TAVG-Trend.txt', header = 69, sep='\s+', names = headers, index_col=False)

      Year  Month  Anomaly-NH  Uncertainty-NH
0     1840      1       0.447           1.333
1     1840      2      -0.821           1.100
2     1840      3      -1.050           1.503
3     1840      4      -0.455           0.622
4     1840      5      -0.002           0.829
...    ...    ...         ...             ...
2167  2020      8       1.208           0.147
2168  2020      9       1.339           0.161
2169  2020     10       1.228           0.147
2170  2020     11       1.874           0.123
2171  2020     12       1.440           0.244

[2172 rows x 4 columns]

In [26]:
# importation du jeu de données des températures de l'hémisphère Sund: southern-hemisphere-TAVG-Trend.txt
headers_2 = ['Year', 'Month', 'Anomaly-SH', 'Uncertainty-SH']

df_South = pd.read_csv('southern-hemisphere-TAVG-Trend.txt', header = 69, sep='\s+', names = headers_2, index_col=False)
df_South

/var/folders/6v/p4vnlcpd4sndjb73rnq8p3xm0000gp/T/ipykernel_5297/66236130.py:3: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df_South = pd.read_csv('southern-hemisphere-TAVG-Trend.txt', header = 69, sep='\s+', names = headers_2, index_col=False)

      Year  Month  Anomaly-SH  Uncertainty-SH
0     1880      8       0.323           0.693
1     1880      9      -0.712           0.653
2     1880     10      -0.688           0.692
3     1880     11      -0.206           0.696
4     1880     12      -0.357           0.726
...    ...    ...         ...             ...
1680  2020      8       1.299           0.106
1681  2020      9       1.709           0.149
1682  2020     10       1.330           0.151
1683  2020     11       1.440           0.217
1684  2020     12       0.472           0.179

[1685 rows x 4 columns]

In [55]:
# Fusion des 2 dataframes de températures hémisphériques
df_Hemisphere = df_North.merge(right = df_South, on = ['Year', 'Month'], how = 'outer')

In [56]:
df_Hemisphere

      Year  Month  Anomaly-NH  Uncertainty-NH  Anomaly-SH  Uncertainty-SH
0     1840      1       0.447           1.333         NaN             NaN
1     1840      2      -0.821           1.100         NaN             NaN
2     1840      3      -1.050           1.503         NaN             NaN
3     1840      4      -0.455           0.622         NaN             NaN
4     1840      5      -0.002           0.829         NaN             NaN
...    ...    ...         ...             ...         ...             ...
2167  2020      8       1.208           0.147       1.299           0.106
2168  2020      9       1.339           0.161       1.709           0.149
2169  2020     10       1.228           0.147       1.330           0.151
2170  2020     11       1.874           0.123       1.440           0.217
2171  2020     12       1.440           0.244       0.472           0.179

[2172 rows x 6 columns]

In [57]:
# Exportation Dataframe de températures_hémisphériques
df_Hemisphere.to_csv("températures_hémisphériques.csv")

In [4]:
# importation du jeu de données des températures globales: Complete_TAVG_complete.txt

headers = ['Year', 'Month', 'Anomaly-Gl', 'Uncertainty-Gl']

df_Glob = pd.read_csv('Complete_TAVG_complete.txt', header = 69, sep='\s+', names = headers, index_col=False)
df_Glob

/var/folders/6v/p4vnlcpd4sndjb73rnq8p3xm0000gp/T/ipykernel_78123/4274988141.py:5: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df_Glob = pd.read_csv('Complete_TAVG_complete.txt', header = 69, sep='\s+', names = headers, index_col=False)

      Year  Month  Anomaly-Gl  Uncertainty-Gl
0     1753      1      -1.264           3.651
1     1753      2      -1.985           4.124
2     1753      3       0.279           3.657
3     1753      4      -1.289           2.167
4     1753      5      -0.436           2.144
...    ...    ...         ...             ...
3235  2022      8       1.258           0.092
3236  2022      9       1.151           0.052
3237  2022     10       1.549           0.094
3238  2022     11       0.684           0.174
3239  2022     12       0.888           0.195

[3240 rows x 4 columns]

In [6]:
# Exportation du Dataframe de températures_globales
df_Glob.to_csv("températures_globales.csv")

In [63]:
# Fusion du dataframe Températures globales avec Températures hémisphériques
df_Temp_Commplete = df_Glob.merge(right = df_Hemisphere, on = ['Year', 'Month'], how = 'outer')

In [64]:
df_Temp_Commplete

,Year,Month,Anomaly-Gl,Uncertainty-Gl,Anomaly-NH,Uncertainty-NH,Anomaly-SH,Uncertainty-SH
0,1753,1,-1.264,3.651,NaN,NaN,NaN,NaN
1,1753,2,-1.985,4.124,NaN,NaN,NaN,NaN
2,1753,3,0.279,3.657,NaN,NaN,NaN,NaN
3,1753,4,-1.289,2.167,NaN,NaN,NaN,NaN
4,1753,5,-0.436,2.144,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
3235,2022,8,1.258,0.092,NaN,NaN,NaN,NaN
3236,2022,9,1.151,0.052,NaN,NaN,NaN,NaN
3237,2022,10,1.549,0.094,NaN,NaN,NaN,NaN
3238,2022,11,0.684,0.174,NaN,NaN,NaN,NaN
3239,2022,12,0.888,0.195,NaN,NaN,NaN,NaN

In [66]:
# Exportation du Dataframe de températures_globales_hémisphériques
df_Temp_Commplete.to_csv("températures_globales_hémisphériques.csv")